.logo{
    width: 15%;
}
.fundomenu{
    background-color: #404040;
}
.minhafonte{
    font-size: 1.5rem;
}
body{
    background-color: #404040;
}
h1 p{
    text-decoration-color: #BFBFBF;
}